<html lang="nl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Vacatures</h1>
	
    <form id="my-form">
      <!-- upload cv -->
      <label class="test" for="cv">Upload cv:</label><br />
      <input type="file" id="cv" accept=".pdf, .doc, .docx" /><br />
      <!-- name -->
      <input type="text" id="name" name="name" placeholder="naam" /><br />
      <!-- email -->
      <input type="email" id="email" name="email" placeholder="email" /><br />
      <!-- phone number -->
      <input type="tel" id="phone" name="phone" placeholder="tel" /><br />
      <!-- upload candidate picture -->
      <label class="test" for="photo">Upload photo:</label><br />
      <input type="file" id="photo" accept=".jpg, .jpeg, .png" /><br />
      <!-- upload candidate motivation -->
      <label class="test" for="cover_letter">Upload motivatie:</label><br />
      <input type="file" id="cover_letter" accept=".pdf, .doc, .docx" /><br />
      <!-- submit the form to recruitee -->
      <input type="submit" value="Submit" />
  </form>

  
  <script>
    const formEl = document.querySelector("#my-form")
    formEl.addEventListener('submit', event => {
        event.preventDefault();

        // get the form data
        // const cv = document.getElementById('cv').files[0];
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const phone = document.getElementById('phone').value;
        // const photo = document.getElementById('photo').files[0];
        // const coverLetter = document.getElementById('cover_letter').files[0];

        // create the form data
        const formData = new FormData();

        // append the form data
        // formData.append('cv', cv);
        formData.append('name', name);
        formData.append('email', email);
        formData.append('phone', phone);
        // formData.append('photo', photo);

        const dataa = Object.fromEntries(formData)
        console.log( JSON.stringify(dataa))

        const candidate = {...dataa}
        console.log(candidate)

        fetch("https://devlloyd.recruitee.com/api/offers/tester/candidates", {

            // fetch("https://api.escuelajs.co/api/v1/files/upload", {
            method: "POST",
            // headers: { "Content-Type": " multipart/form-data" },
            body: formData
        })
            .then((res) => res.json())
            .then(data => console.log(data))
            .catch(err => console.log(err));
        // .then(console.log);
    })

</script>
	</body>
</html>

<!-- {
    "candidate": {
      "created_at": "2024-01-09T15:40:23.791179Z",
      "cv_pdf_url": "https://recruitee-main.s3.eu-central-1.amazonaws.com/candidates/64338090/pdf_cv_ubclol8uktyu.pdf",
      "cv_url": "https://recruitee-main.s3.eu-central-1.amazonaws.com/candidates/64338090/cv_ubclol8uktyu.pdf",
      "emails": [
        "string@test.nl"
      ],
      "id": 64338090,
      "name": "string",
      "open_question_answers": [],
      "phones": [
        "string"
      ],
      "photo_thumb_url": "https://recruitee-main.s3.eu-central-1.amazonaws.com/candidates/64338090/thumb_photo_ngg5l4gehcmh.png",
      "photo_url": "https://recruitee-main.s3.eu-central-1.amazonaws.com/candidates/64338090/normal_photo_ngg5l4gehcmh.png",
      "updated_at": "2024-01-09T15:40:24.491254Z"
    },
    "created_at": "2024-01-09T15:40:23.791179Z",
    "cv_pdf_url": "https://recruitee-main.s3.eu-central-1.amazonaws.com/candidates/64338090/pdf_cv_ubclol8uktyu.pdf",
    "cv_url": "https://recruitee-main.s3.eu-central-1.amazonaws.com/candidates/64338090/cv_ubclol8uktyu.pdf",
    "emails": [
      "string@test.nl"
    ],
    "id": 64338090,
    "name": "string",
    "open_question_answers": [],
    "phones": [
      "string"
    ],
    "photo_thumb_url": "https://recruitee-main.s3.eu-central-1.amazonaws.com/candidates/64338090/thumb_photo_ngg5l4gehcmh.png",
    "photo_url": "https://recruitee-main.s3.eu-central-1.amazonaws.com/candidates/64338090/normal_photo_ngg5l4gehcmh.png",
    "updated_at": "2024-01-09T15:40:24.491254Z"
  } -->